/* the actual channel itself */

.channel {
    cursor: pointer;
    flex-shrink: 0;
    color: #949BA4;
    width: calc(100% - 8px);
    height: 34px;
    border-radius: 4px;
    margin-left: 8px;
    padding-left: 8px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    align-self: flex-start;
    flex-direction: row;
}

.currentChannel {
    color: white;
    background-color: #42464D;
}

.channelName {
    flex-grow: 1;
    flex-shrink: 1;
    font-size: 16px;
    line-height: 20px;
    margin-left: 6px;
}

.channel:hover {
    color: white;
    background-color: #42464D;
}

.channellist {
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    height: 1px;
}

.channellist:hover::-webkit-scrollbar-thumb {
    background-color: #1A1B1E;
}

.channellist::-webkit-scrollbar {
    width: 5px;
}

.channellist::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: transparent;
}
