html,
body {
    height: 100%;
    width: 100%;
}

html,
* {
    margin: 0;
    padding: 0;
}

/* wrapper */

.wrapper{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* titlebar */

.titlebar {
    background-color: #202225;
    height: 20px;
    -webkit-app-region: drag;
    -webkit-user-select: none;
    user-select: none;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

    flex-grow: 0;
    flex-shrink: 0;
}

#minimize,
#maximize,
#close {
    -webkit-app-region: no-drag;
    height: 20px;
    width: 30px;
    border: none;
    background: none;
    color: #9A9795;
    cursor: pointer;
}

#minimize:hover,
#maximize:hover {
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.3);
}

#close:hover {
    box-shadow: inset 0 0 100px 100px rgba(255, 0, 0, 0.9);
}

#minimize:focus,
#maximize:focus,
#close:focus {
    outline: none
}

/* ok */ 

.actualbody{
    display: flex;

    flex-grow: 1;
    flex-shrink: 1;
}

/* servers list */
.serverslist{
    background-color: brown;
    flex-grow: 0;
    flex-shrink: 0;
    width: 30px;
}

/* main part */
.mainpart{
    display: flex;
    flex-direction: column;

    flex-grow: 1;
    flex-shrink: 1;
}

/* top part of main */
.tpart{
    background-color: crimson;
    height: 50px;
    display: flex;
    flex-shrink: 0;
    flex-grow: 0;
}

/* bottom part of main */ 
.bpart {
    background-color: beige;
    display: flex;
    flex-shrink: 1;
    flex-grow: 1;
}

/* channels */
.channels{
    background-color: bisque;
    width: 100px;
    flex-shrink: 0;
    flex-grow: 0;
}

/* msgpart */
.msgpart{
    background-color: red;
    flex-grow: 1;
    flex-shrink: 1;
}

/* memberslist */
.memberslist{
    background-color: blue;
    width: 100px;
    flex-shrink: 0;
    flex-grow: 0;
}