html,
body {
    height: 100%;
    width: 100%;
}

html,
* {
    margin: 0;
    padding: 0;
}

/* wrapper */

.wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* titlebar */

.titlebar {
    background-color: #5865F2;
    height: 22px;
    -webkit-app-region: drag;
    -webkit-user-select: none;
    user-select: none;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

    flex-grow: 0;
    flex-shrink: 0;
}

#minimize,
#maximize,
#close {
    -webkit-app-region: no-drag;
    height: 22px;
    width: 28px;
    border: none;
    background: none;
    color: #9A9795;
    cursor: pointer;
}

#minimize:hover,
#maximize:hover {
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.3);
}

#close:hover {
    box-shadow: inset 0 0 100px 100px rgba(255, 0, 0, 0.9);
}

#minimize:focus,
#maximize:focus,
#close:focus {
    outline: none
}

#middleman {
    flex-grow: 1;
    flex-shrink: 1;
}

#deez {
    color: gainsboro;
    font-size: 15px;

    flex-grow: 0;
    flex-shrink: 0;
}

/* ok */
.appsection {
    background-image: url("../assets/login.svg");
    background-size: cover;
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    font-family: gg sans
}

.loginbox {
    background-color: #313338;
    width: 720px;
    height: 344px;
    padding: 32px;
    margin: auto;
    border-radius: 10px;
}

.heading {
    text-align: center;
    font-size: 24px;
    color: white;
    margin-bottom: 8px;
}

.subheading {
    text-align: center;
    font-size: 16px;
    color: #B5BAC1;
    margin-bottom: 16px;
}

.formheader {
    font-size: 12px;
    color: #B0B5BC;
    margin-top: 20px;
}
.inputbox {
    background-color: #1E1F22;
    display: flex;
    width: 100%;
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    margin-top: 8px;
    border-radius: 5px;
    font-family: gg sans;
    color: white;
    outline: none;
    border: none;
    flex-grow: 1;
    flex-shrink: 1;
}
.forgottoken {
    font-size: 14px;
    margin-top: 4px;
    margin-bottom: 20px;
}
.loginbutton {
    background-color: #5865F2;
    width: 100%;
    height: 44px;
    border-radius: 3px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 12px;
    outline: none;
    border: none;
    color: white;
    font-size: 16px;
}

.loginbutton:hover {
    background-color: #4752C4;
}
.register {
    color: #7D838B;
    font-size: 14px
}
.loginsection {
    width: 416px;
    height: 340px;
}